<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nb.poms.baidupcs.com/file/ca9c9008674f5edc1bdadfa306ecdb25?bkt=p2-nb-32&amp;fid=2635363539-250528-595073642705925&amp;time=1436765295&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-M92egnprsu%2BEZ3jDwO2A%2BVi%2BUzQ%3D&amp;to=nbb&amp;fm=Nin,B,T,ny&amp;sta_dx=7&amp;sta_cs=0&amp;sta_ft=ipa&amp;sta_ct=0&amp;fm2=Ningbo,B,T,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=1400ca9c9008674f5edc1bdadfa306ecdb2576236183000000735969&amp;sl=83296335&amp;expires=8h&amp;rt=sh&amp;r=725853830&amp;mlogid=51840066&amp;vuk=2635363539&amp;vbdid=2404167896&amp;fin=Portal.ipa&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.phicomm.portal</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>斐讯移动审批</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
